.searchContainer {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .searchContainer {
    margin-bottom: 2rem;
    max-width: 800px;
  }
}

.searchIcon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #a08e7a;
  font-size: 1.5rem;
}

.searchInput {
  width: 100%;
  background-color: #353535;
  border: none;
  padding: 1rem 1rem 1rem 3.5rem;
  color: #e2e2e2;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  box-sizing: border-box;
}

.searchInput::placeholder {
  color: rgba(226, 226, 226, 0.3);
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
}

.searchInput:focus {
  outline: 1px solid #e9c349;
  box-shadow: 0 0 0 2px rgba(233, 195, 73, 0.2);
}
