

.user-card {
  background: linear-gradient(145deg, #1a1a1a, #111);
  border-radius: 16px;
  padding: clamp(1rem, 2.5vw, 2rem);
  width: 100%;
  max-width: 480px;
  margin: auto;
  text-align: center;
  color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  font-family: 'Inter', -apple-system, sans-serif;
  box-sizing: border-box;
}


/* Avatar */
.user-card__avatar {
  position: relative;
  margin-bottom: 1.5rem;
}


.avatar-box {
  width: 110px;
  height: 110px;
  margin: auto;
  border-radius: 12px;
  border: 3px solid #d4af37;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a2a2a;
  box-shadow: 0 0 0 4px rgba(212, 175, 55, 0.2);
}

.avatar-box span {
  font-size: 40px;
  color: #aaa;
}

.pro-badge {
  position: absolute;
  bottom: -5px;
  right: 30%;
  background: #d4af37;
  color: black;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 10px;
}

/* Name */
.user-card__name {
  font-size: 1.8rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-family: 'Inter', -apple-system, sans-serif;
}

/* Stats */
.user-card__stats {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
font-family: 'Inter', -apple-system, sans-serif;
}

.stat {
  flex: 1;
  background: #1f1f1f;
  padding: 1rem;
  border-radius: 10px;
}

.stat__value {
  font-size: 1.5rem;
  font-weight: 700; 
  justify-content: center;
  font-family: 'Inter', -apple-system, sans-serif;
}

.stat__label {
  font-size: 0.65rem;
  letter-spacing: 0.15em;
  color: #777;
  margin-left: 0.5rem;
  
}

/* Coach */
.user-card__coach {
  background: #1f1f1f;
  padding:1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.stat__weight {
  font-size: 1.25rem;
  font-weight: 400; 
  justify-content: center;
  font-family: 'Inter', -apple-system, sans-serif;
  color: #777;
}

.stat_education {
  font-size: 1.25rem;
  font-weight: 600; 
  justify-content: center;
  font-family: 'Inter', -apple-system, sans-serif;
  color:#d4af37;
}

.user-card__info {
  padding:1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.coach__name {
  display: block;
  font-weight: 800;
  font-family: 'Inter', -apple-system, sans-serif;
}

.coach__label {
  font-size: 0.65rem;
  letter-spacing: 0.15em;
  font-family: 'Inter', -apple-system, sans-serif;
  color: #777;
}

.coach_username {
  font-size: 1.25rem;
  color: #ffffff;
  margin-top: 0.5rem;
  font-family: 'Inter', -apple-system, sans-serif;
}


/* Button */
.user-card__button {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background: #2a2a2a;
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: 0.2s;
  align-items: center;
}

.user-card__button:hover {
  background: #3a3a3a;
}

.user-card__button span {
  color: #d4af37;
}